a.text-purple-500 {
    color: purple;
  }
  a.text-gray-500 {
    color: gray !important;
  }
  ul.space-y-2 .active {
    color: #fff !important;;
    
    font-size: 20px;
    letter-spacing: 1px;
  }

  ul.space-y-2 li {
    list-style: none;
  }
  ul.space-y-2 li a {
    color: #4c4c4c;
    letter-spacing: 1px;
    text-decoration: none;
  }
  ul.space-y-2 li {
    background: #f19812;
    padding: 6px;
    border-bottom: 2px solid #fff !important;
  }
  ul.space-y-2 {
    padding: 0px;
  }

  .rating-stars input[type="radio"] {
    display: none; /* Hide radio buttons */
}

.rating-stars label {
    font-size: 2rem;
    color: #ccc; /* Unfilled star color */
    cursor: pointer;
}

.rating-stars input[type="radio"]:checked ~ label i {
    color: gold; /* Filled star color */
}

.rating-stars label:hover i,
.rating-stars label:hover ~ label i {
    color: gold; /* Hover effect for stars */
}

img.card-img-top {
  height: 250px;
}
a.product-title {
  color: #000;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 18px;
  text-transform: capitalize;
}
.card-body.listproduct {
  text-align: center;
}

.viewproduct{
  width: 100%;
}

.viewproduct {
  width: 100%;
  background: #ffffff;
  color: #f19812;
  border: 2px solid #f19812;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
a.btn.btn-primary.viewproduct:hover {
  background: #f19812;
  color: #fff;
  border: 2px solid #f19812;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

.input-group-append button {
  background: #f19812;
  border: none;
}




/* Center the pagination controls */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.pagination li {
    margin: 0 5px;
}
.pagination a, .pagination span {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
}
.pagination a:hover {
    background-color: #f0f0f0;
}
.pagination .active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
.pagination .disabled {
    color: #aaa;
}

li.page-item.active span {
  background-color: #f19812 !important;
  color: white;
  border-color: #f19812 !important;
}
.pagination .active {
  background-color: #f19812;
  color: white;
  border-color: #f19812;
}
.shoppagnination {
  margin: 50px;
}